/* body {
  font-family:
    Times New Roman,
    Trebuchet MS,
    serif;
} */

/* 사용자 환경에 있을거란 해당 폰트가 있다는 보장이 없기 때문에 
   이렇게 로컬 폰트를 사용하는 거 좋지 않음 */
/* => 웹폰트를 사용해서 해결 가능 */

/* body {
  font-family: pretendard variable;
} */

/* 루트 요소 */
/* root를 안 주면 기본적인 보통 font-size 16px */
/* 흔히들 10px 주고 쓰지만 안 하는 게 성능 상으로는 쪼끔 더 좋음 */
/*  */
:root {
  /* font-size: 10px; */
}

/* font-family 속성 - 글꼴 */
body {
  font-family: 'SUIT', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
}
/* font 관련 속성 - size(글자 크기), weight(굵기), style(모양새-italic, oblique) */
/* line-height - 줄 높이// 글자 크기보다 커야 함. %나 배수로 쓰면 편함 글자 크기를 지정하면 지정 사이즈 따라가고 안 하면 상속된 사이즈 따라감 */
/* font-variant - 대소문자 바꾸는 속성*/
.size {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  font-variant: small-caps;
  font-family: 'pretendard variable', sans-serif;
  /* font: bold italic small-caps 14px /1.5 'pretendart variable'; */
  /* ☆shortend 표기법(단축속성) : 폰트사이즈와 글꼴이 필수! 빼먹으면 적용 안됨 */
}

/* 단위 - rem = root equal em = 루트를 기준으로 계산.*/
/* 단위 - em = 부모 요소 기준으로 계산. 폰트사이즈에서는 백분율이랑 동일 */
/* 단위 - VW = 뷰포트 기준으로 사이즈 계산. 4VW -> 뷰포트의 4%로 */
/* 단위 - 백분율 = 부모 컨테이너 기준으로 계산 */
/* CLAMP 사용하면 이런 식으로도 가능 */
/* .size {
  font-size: clamp(12px, 3vx, 24px);
} */
